*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    
   
}
.body{
    background-color:#e9ede9;
    
}
html{
    scroll-behavior: smooth;
}

.header{
    padding:20px 20px;
    height:100px;
    background-color:#021024;

}
.logo{
    color: white;
     font-size:30px;
    font-family:sans-serif;

}
span{
    color:rgb(245, 15, 53);
    font-size:30px;
    font-family:sans-serif;
}
.navbar{
 background:linear-gradient(to left,#dbe3ee,#ffffff);

}


#container ul li a{
 font-size:18px;
 color:#021024;
 margin-left:20px;
}
#container ul li a:hover{
    color:rgb(245, 15, 53);
}
#container ul{
    margin-left:20px;
}




#container h1{
    font-size:40px;
    color:rgb(245, 15, 53);
    margin-top:10%;
    font-family:'poppins';
    text-align:left;
    margin-left:5%;
}


#container span{
    color:rgb(245, 15, 53);
    
}



.follow{
    height:20%;
    margin-top:30px;
    padding:20px 12px;
    margin-left:30px;
    display:grid;
    grid-template-columns:repeat(4, 50px);
}
.follow svg{
    color:rgb(212, 157, 157);
}


#container{
    width:100%;
    
    background:rgb(247, 247, 247);
  
    margin:auto;
 
   
    
}
.hero-section{
    width:90%;
    height:auto;
    margin:auto;
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-top:70px;
     
}
.desc_holder{
    display:flex;
    flex-direction:column;
    width:50%;
    height:auto;
 
}
.desc_holder p{
    font-size:20px;
    color:black;
    font-family:'poppins';
    margin-top:25px;
    margin-bottom:5%;
    
}
.img-holder{
    width:50%;
    border-radius:50%;
    height:auto;
   
}
.img-holder img{
    width:75%;
    float:right;
}
.Cta{
    display:flex;
    flex-direction:row;
    justify-content: left;
   gap:20px;

    
}

.bt{
    /* background:rgb(245, 15, 53); */
       background:linear-gradient(to left,#dbe3ee, #d49d9d);
    text-decoration:none;
    padding:15px 30px;
    transition:color 0.6s ease;
    cursor: pointer;
    color:#021024;
    border-radius:7.5px;   
    position:relative;
    z-index:1;
    overflow:hidden;
}


.bt::before{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    left:-100%;
    z-index:-1;
    top:0;
    background:linear-gradient(to left, #c0cad8, #b38686);
    transition:left 0.3s ease;


}
.bt:hover::before{
    left:0;
}
#container svg{
    animation: pulseIcon 1s infinite;
}

@keyframes pulseIcon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#about{
    width:100%;
    height: 100%;
    padding:30px 20px;
    text-align:center;
    padding-bottom:30px;
    background:#e9ede9;
    margin:auto;
   
   
}
.description_img{
    position:absolute;
    top:-15%;
    left:5%;
    width:12.5%;
    height:40%;
   
}
.description_img img{
 width:100%;
 height:100%;
 border-radius:50%;
}
.scale-up{
    opacity:0;
    transform: scale(0.5);
    transition:0.5s;
}
.scale-up.active{
    opacity:1;
    transform: scale(1);
}
#about h2 a{
    color:#021024;
    position:relative;
    text-decoration: none;
    display:inline;
}
#about h2 a::after{
    background:rgb(245, 15, 53);
    content:'';
    width:0;
    height:3px;
    position:absolute;
    left:0;
    bottom:0px;
    transition:0.9s;
    opacity:0;
}
#about h2 a:hover::after{
    width:100%;
    opacity:1;
}


.about-col{
    width:90%;
    height:100%;
    text-align:center;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    position:relative;
   margin:auto;
   padding:20px 2px;
   border-radius:10px;
   background: rgb(247, 247, 247);
    box-shadow: 5px, 10px, #021024;
    margin-top:35px;
    

}



.about-col p{
    color:#021024;
    font-size:16px;
    font-family:'poppins';
    margin-top:40px;
    text-align:left;
    
}
.description{
    width:50%;
   
    padding:10px 12px;
    text-align:center;;
    border-right: 1px solid #021024;
    
   
    
}
.description a{
       background:linear-gradient(to left,#dbe3ee, #d49d9d);
    text-decoration:none;
    padding:15px 30px;
    transition:color 0.6s ease;
    cursor: pointer;
    color:#021024;
    border-radius:7.5px;   
    position:relative;
    z-index:1;
    overflow:hidden;
    

}
.description a:hover{
   
   
    background:linear-gradient(to left, #c0cad8, #b38686);
    transition:left 0.3s ease;

}

.description p{
    margin-bottom:5%;
}
.description h4{
    color:rgb(245, 15, 53);
    font-size:30px;
    font-family: sans-serif;
}

.skills{
    text-align:center;
}
.skills h4{
    color:rgb(245, 15, 53);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows:auto;
    gap: 20px;
    margin-top: 20px;
  }
  
  .skill-item {
    text-align: center;
  }
  
  .skill-item svg {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 10px;
    transition: transform 0.3;
    color:rgb(212, 157, 157);
  }
  
  .skill-item p {
    font-size: 14px;
    margin:0;
    text-align:center;
    
  }
  
  .skill-item:hover img {
    transform: scale(1.1);
  }

#services{
    width:100%;
    height:100%;
    padding:40px 20px;
    align-items:center;
    justify-content:center;
    background:#e9ede9;
    text-align:center;
   

}
#services h2 a{
    color:#021024;
    font-size:30px;
    font-family:sans-serif;
    margin-top:50px;
    position:relative;
    text-decoration: none;
   
    text-align:center;
}
#services h2 a::after{
background:rgb(245, 15, 53);
content:'';
width:0;
height:3px;
position:absolute;
left:0;
bottom:0px;
transition:0.9s;
opacity:0;

}
#services h2 a:hover::after{
width:100%;
opacity:1;
}
.service_column{
   width:90%;
   height:30%;
   gap:10px;
   display:grid;
   grid-template-columns: repeat(3, 1fr);
 
   margin:auto;
  padding:30px 2px;
 

}
.service_row{
  
    background-color:rgb(247, 247, 247);
    border-radius:9px;
  
    padding:30px 10px;
    transition:1s;
    opacity:1;
   
    display:flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.service_row ul li{
    list-style: none;
    text-align:left;
}
.service1{
    margin-top:2%;
    background:rgb(247, 247, 247);
}
.service2{
    margin-top:5%;
    background:rgb(243, 237, 237);
}
.service3{
    margin-top:10%;
    background:#dbe3ee;
}

@keyframes bounce{
    0% {
        transform: translateY(0); /* Initial position */
      }
      50% {
        transform: translateY(-20px); /* Bounce up */
      }
      100% {
        transform: translateY(0); /* Return to the initial position */
      }
    }
    
.service_row {     
    transition: transform 0.2s ease; /* Smooth transition when animation starts and ends */
    }
    
    .service_row:hover {
      animation: bounce 0.5s infinite; /* Apply the bounce animation only when hovered */
    }



.service_row p{
    color:black;
    font-size:14px;
    font-family:'poppins';
    text-align:left;
}
.service_row h5{
    color:rgb(245, 15, 53);
    font-size:18px;
    font-family:sans-serif;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}
#projects{
    width:100%;

    background:#021024;
    text-align:center;
    height:100%;
    padding:40px 2px;
    margin-bottom:5%;
    


}
#projects h2 a{
    color: #021024;
    font-size:30px;
    font-family:sans-serif;

    position:relative;
    text-decoration: none;
    display:inline;
    
}
#projects h2 a::after{
    background:rgb(245, 15, 53);
    content:'';
    width:0;
    height:3px;
    position:absolute;
    left:0;
    bottom:0px;
    transition:0.9s;
    opacity:0;
}
#projects h2 a:hover::after{
    
        width:100%;
        opacity:1;
        }

#projects h6{
    color:#ffffff;
    font-size:18px;
    font-family:'poppins';
    margin-top:40px;
    margin-bottom:40px;
}
.column{
   
    margin:auto;
    display:flex;
    flex-direction: row;
   justify-content: space-between;
    margin-top:5%;
    gap:40px;
    width:90%;
    height:100%;
    
}
 .projects_title{
    width:40%;
    padding:30px 1px;

 }

  .contact{
    width:auto;
    height:auto;
    display:block;
    text-align:left;
    color:#fff;
    
  }
  .contact a{
    color:rgb(247, 247, 247);
  }

  .contact svg{
    color:#d49d9d;
    animation: pulseIcon 1s infinite;
  }
  .conatct p{
    color:#fff;
  }
  #text{
    color:#fff;
  }


@keyframes pulseIcon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
 .contact h5{
    margin-top:30px;
    font-size:20px;
    color:rgb(245, 15, 53);
    font-weight:lighter;
    font-family:'poppins';
 }
 .projects_showcase{
width: 50%;
height:80%;
 }
 .projects_showcase img{
    width:100%;
    height:100%;
 }
   .projects_showcase h2{
    color:white;
    font-size:30px;
    
  }
  .projects_showcase p{
    color:white;
    font-size:16px;
    text-align:left;
    font-weight:lighter;
    
  }


footer{
    background:#e9ede9;
    padding:30px 10px;
    width:100%;
    text-align:left;
    padding-bottom:2px;
}
footer p{
    color:#021024;
    font-family:'poppins';
    font-size:16px;
}
footer a {
    color:#021024;
}
.cop{
    display:block;
    text-align:center;
}
.line{
    width:100%;
    height:2px;
    background:rgb(212, 157, 157);
}
.carousel-control-prev-icon{
    background-color:rgb(245, 15, 53) !important;
}
.carousel-control-next-icon{
    background-color:rgb(245, 15, 53) !important;
}
.carousel-item a{
        background:linear-gradient(to left,#dbe3ee, #d49d9d);
    text-decoration:none;
    padding:15px 30px;
    transition:color 0.6s ease;
    cursor: pointer;
    color:#021024;
    border-radius:7.5px;   
  
   
}

.carousel-item a:hover{
   
    background:linear-gradient(to left, #c0cad8, #b38686);
    transition:left 0.3s ease;

}

@media screen and (max-width:768px){
    .hero-section{
        flex-direction:column;
        width:100%;
       
    }
    .desc_holder{
        width:100%;
    }
    .img-holder{
      width:0;
      display:hidden;
    }
    .about-col{
        flex-direction: column;
        gap:50px;
    }
    .description{
        width:100%;
        padding-bottom:20px;
        border-right:0;
        border-bottom:1px solid #021024;
    }
    .description h4{
        margin-left:30px;
    }
    .skills{
        width:100%;
    }
    .description_img{
        height:120px;
        top:-30px;
        width:120px;
    }
    .skills-grid{
        width:100%;
        grid-template-columns: repeat(3, 1fr);
        text-align:center;
    }
    .service_column{
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: auto;
        
    }
    .column{
        flex-direction:column;
    }
    .projects_showcase{
        width:100%;
    }
    .projects_title{
        width:100%;
    }
    .contact{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        padding-top:20px;
        gap:10px;
        text-align:left;
    }
 
    .contact h5{
        margin-top:0;
        font-weight:bold;
    }
   
    .projects_showcase p{
        text-align: center;
    }
      .offcanvas{
        width:200px !important;
    }
}
@media screen and (max-width:420px){
    .description h4{
        font-size:18px;
        margin-left:60px;
    }
    .desc_holder h1{
        font-size:24px;
    }
    .desc_holder p{
        font-size:16px;
    }
    .about-col{
        width:95%;
    }
    .service_column{
        width:95%;
    }
    .description p{
        margin-bottom:30px;
    }
    .navbar-brand{
        font-size:20px;
    }
    .offcanvas{
        width:200px !important;
    }
    .bt{
        font-size:12px;
    }
    .contact p{
        font-size:16px;
    }
    .contact{
        grid-template-columns:1fr;
        grid-template-rows: auto;
    }

}